services:
  # Servicio de Liferay (Tomcat)
  liferay:
    image: liferay/portal:7.4.3.132-ga132
    container_name: liferay-tomcat
    volumes:
      # Mantiene el archivo de propiedades de configuración
      - ./liferay/portal-ext.properties:/opt/liferay/portal-ext.properties
      - ./liferay/74.xml:/opt/liferay/deploy/74.xml
      # *** NUEVO: Persistencia de datos de Liferay ***
      - liferay_data_volume:/opt/liferay/data 
    ports:
      # Acceso directo al nodo Liferay por HTTP
      - "8081:8080"
    environment:
      -  GLOWROOT_ENABLED=${GLOWROOT_ENABLED}
      -  LIFERAY_JPDA_ENABLED=true
      -  LIFERAY_DISABLE_TRIAL_LICENSE=true
      -  LIFERAY_UPGRADE_PERIOD_DATABASE_PERIOD_AUTO_PERIOD_RUN=true

  # Servicio de Nginx (Proxy Inverso con HTTPS)
  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    volumes:
      # Monta la configuración de Nginx
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      # Montaje de certificados SSL
      - ./nginx/certs:/etc/nginx/certs:ro 
    ports:
      # Exponer el puerto 80 (HTTP) para redirección
      - "80:80"
      # Exposición del puerto 443 (HTTPS)
      - "443:443" 
    depends_on:
      - liferay
    networks:
      default:
        aliases:
          - "dominio.ejemplo.com"

# *** VOLÚMENES PARA PERSISTENCIA ***
volumes:
  liferay_data_volume:
    driver: local # Define un volumen local para Liferay